<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Conditional Statements](#cond)**
2. **[Python Flow Control](#flow_control)**
3. **[List Comprehension](#lc)**

<a id="cond"> </a>
## 1. Conditional Statements

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a program to check whether a given number is multiple of 7 (use if statement)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
n = float(input("Enter a number: "))
if n%7 == 0:
    print("The number",n,"is a multiple of 7")
else:
    print("The number",n,"is not a multiple of 7")

Enter a number: 49
The number 49.0 is a multiple of 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a code to print the maximum of two numbers (use if-else)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
n1 = float(input("Enter 1st number: "))
n2 = float(input("Enter 2nd number: "))

if n1 > n2:
    print(n1,"is maximum")
else:
    print(n2,"is maximum")

Enter 1st number: 56
Enter 2nd number: 65
65.0 is maximum

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a program to check whether a number is positive, negative or zero (use if-elif) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
n = float(input("Enter a number: "))
if n == 0:
    print(n,"is zero")
elif n > 0 :
    print(n,"is positive")
else:
    print(n,"is negative")

Enter a number: 101
101.0 is positive

### Let's begin with some hands-on practice exercises

<a id= "flow_control"> </a>
## 2. Python Flow Control

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a code to print table of 5 using assignment operand +=.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
x= 0
for i in range(1,11,1):
    x+=5
    print(x)

5
10
15
20
25
30
35
40
45
50

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
a=0
b=1
print(a,b,sep ='\n')
count = 1
while (count<=10):
    c = a + b
    print(c)
    a,b = b,c
    count += 1

0
1
1
2
3
5
8
13
21
34
55
89

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to check whether a number is greater than the other using if statement (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
n1 = float(input("Enter 1st number: "))
n2 = float(input("Enter 2nd number: "))

if n1 >n2:
    print(n1,"is greater than",n2)
else:
    print(n2,"is greater than",n1)

Enter 1st number: 56
Enter 2nd number: 65
65.0 is greater than 56.0

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a code to check whether a number is divisible by 8 or not (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
n = float(input("Enter a number: "))
if n%8 == 0:
    print("The number",n,"is divisible by 8")
else:
    print("The number",n,"is not divisible by 8")

Enter a number: 32
The number 32.0 is divisible by 8

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a code to find factorial of a number (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
# method 1:

n = float(input("Enter a number: "))

import math 

print('Factorial of',n,'is',math.factorial(n))

Enter a number: 5
Factorial of 5.0 is 120

In [12]:
# method 2:

n = int(input("Enter a number: "))
fact = 1
if n < 0:
    print('not possible')
elif n == 0 or n == 1 :
    print('fact is 1')
else:
    for i in range(1,n+1):
        fact = fact * i
    print('Factorial of',n,'is',fact)

Enter a number: 5
Factorial of 5 is 120

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to check whether a number is prime or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [13]:
n = int(input("Enter a number: "))

if n > 1:
    for i in range(2, n):
        if (n % i) == 0:
            print(n,'is not a prime number')
            break
    else:
        print(n,'is a prime number')

Enter a number: 66
66 is not a prime number

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write a program to check whether two numbers are amicable or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [15]:
x=int(input('Enter number 1: '))
y=int(input('Enter number 2: '))
s1=0
s2=0
for i in range(1,x):
    if x%i==0:
        s1+=i
for j in range(1,y):
    if y%j==0:
        s2+=j
if(s1==y and s2==x):
    print('Amicable!')
else:
    print('Not Amicable!')

Enter number 1: 220
Enter number 2: 284
Amicable!

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Reverse string using a for loop (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [16]:
str1 = input('Enter a string of characters:')
str_empty = ''   
for i in str1:  
    str_empty = i + str_empty  
print("The reverse string is",str_empty)

Enter a string of characters:Data Science
The reverse string is ecneicS ataD

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Write a code to find the average of given numbers (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [17]:
n = int(input("Enter the numbers required:"))
n1 = float(input("Enter 1st number: "))
n2 = float(input("Enter 2nd number: "))

total = n1+n2
average = (total/n)

print('Average:',average)

Enter the numbers required:2
Enter 1st number: 45
Enter 2nd number: 55
Average: 50.0

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Write a program to find the area of a circle for a given radius (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [18]:
import math 

r = float(input('Enter the radius:'))

pi = (math.pi)

A = pi * r**2

print('Area of the circle:',A)

Enter the radius:13.3333333
Area of the circle: 558.5053578456585

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a code to find the simple interest (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [19]:
P = float(input("Enter the principle amount:"))
R = float(input("Enter the rate of interest:"))
N = float(input("Enter the period of time:"))

SI = (P*R*N)/100

print('Simple Interest is Rs.',SI)

Enter the principle amount:1000
Enter the rate of interest:10
Enter the period of time:1
Simple Interest is Rs. 100.0

<a id= "lc"> </a>
## 3. List Comprehension

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Use list comprehension to obtain the squre root of first 10 natural numbers.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [20]:
# way of creating list using for loop in one single line

l1 = [round(i**(0.5),2) for i in range (1,11) if i in (1,2,3,4,5,6,7,8,9,10)]
print(l1)

# format = [{output}   {for loop}  {if condition}]

[1.0, 1.41, 1.73, 2.0, 2.24, 2.45, 2.65, 2.83, 3.0, 3.16]

In [21]:
numbers = []

for i in range(1,11,1):
    numbers.append(i)

print(numbers)

numbers = [ x for x in range(1,11,1) ]

import math

numbers = [ round(math.sqrt(x),2) for x in range(1,11,1) ]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1.0, 1.41, 1.73, 2.0, 2.24, 2.45, 2.65, 2.83, 3.0, 3.16]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Use list comprehension to find the used vowels in a given sentence and/or word (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [22]:
s1 = input('Enter a string of characters:')

l1 = [i for i in s1 if i in 'aAeEiIoOuU']

l1

Enter a string of characters:Hello World

['e', 'o', 'o']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Create a dictionary and access it values using a condition on its key. The data is given below. Let the condidtion on the key is that it should be a even number.</b>
                </font>
            </div>
       </td>
    </tr>
</table>

<table>
<tr>
    <th>Key</th>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td> 
    <td>5</td> 
</tr>
<tr>
    <th>Name</th>
    <td>Aman</td>
    <td>Mohit</td>
    <td>Guari</td>
    <td>Imran</td>
    <td>Roma</td
     </tr>
<tr>
    <th>Marks</th>
    <td>24</td>
    <td>25</td>
    <td>26</td>
    <td>24</td>
    <td>27</td>
   </tr>
</table>

In [23]:
dict1 = {1:{"Aman",24},2:{"Mohit",25},3:{"Gauri",26},4:{"Imran",24},5:{"Roma",27}}
dict2 = {i:j for (i,j) in dict1.items() if i%2==0}
dict2

{2: {25, 'Mohit'}, 4: {24, 'Imran'}}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Use list comprehension to find even and odd numbers from first 20 whole numbers.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [24]:
lc1 = [n for n in range(0,20,1) if n%2 == 0]
print('Even numbers: ',lc1)

lc2 = [n for n in range(0,20,1) if n%2 != 0]
print('Odd numbers:',lc2)

Even numbers:  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
Odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Use list comprehension to print numbers divisible  by 2 and 3 in between 1 and 100. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [25]:
lc3 = [n for n in range(1,101,1) if n%2 == 0 and n%3 == 0]
print('Numbers divisible by both 2 and 3 are: ',lc3)

Numbers divisible by both 2 and 3 are:  [6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [26]:
lc4 = [n for n in range(1,101,1) if n%6 == 0]
print('Numbers divisible by both 2 and 3 are: ',lc4)

Numbers divisible by both 2 and 3 are:  [6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Use list comprehension to create a dictionary such that its keys are numbers from 1 to 10 and values are the corresponding to that key are its cube.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [27]:
d = {i:i**3 for i in range(1,11,1)}
d

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. Use list comprehension to extract numbers from a string </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [28]:
s1 = input('Enter a string of numbers:')
l1 = [int(i) for i in s1 if i.isdigit()]
l1

Enter a string of numbers:Python123456

[1, 2, 3, 4, 5, 6]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>22. Use list comprehension to print table of 11 to 20 as shown below.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
<tr>
    <td>11</td><td>22</td><td>33</td><td>44</td><td>55</td><td>66</td><td>77</td><td>88</td><td>99</td><td>110</td> 
</tr>
    
<tr>
    <td>12</td><td>24</td><td>36</td><td>48</td><td>60</td><td>72</td><td>84</td><td>96</td><td>108</td><td>120</td> 
</tr>

<tr>
    <td>13</td><td>36</td><td>39</td><td>52</td><td>65</td><td>78</td><td>91</td><td>104</td><td>117</td><td>130</td> 
</tr> 

<tr>
     <td>14</td><td>28</td><td>42</td><td>56</td><td>70</td> <td>84</td><td>98</td><td>112</td><td>126</td><td>140</td> 
</tr>

<tr>
     <td>15</td><td>30</td><td>45</td><td>60</td><td>75</td><td>90</td><td>105</td><td>120</td><td>135</td><td>150</td> 
</tr>

<tr>
     <td>16</td><td>32</td><td>48</td><td>64</td><td>80</td><td>96</td><td>112</td><td>128</td><td>144</td><td>160</td> 
</tr> 

<tr>
     <td>17</td><td>34</td><td>51</td><td>68</td><td>85</td><td>102</td><td>119</td><td>136</td><td>153</td><td>170</td> 
</tr> 

<tr>
     <td>18</td><td>36</td><td>54</td><td>72</td><td>90</td> <td>108</td><td>126</td><td>144</td><td>162</td><td>180</td> 
</tr>

<tr>
 <td>19</td><td>38</td><td>57</td><td>76</td><td>95</td><td>114</td><td>133</td><td>152</td><td>171</td><td>190</td> 
</tr>

<tr>
     <td>20</td><td>40</td><td>60</td><td>80</td><td>100</td><td>120</td><td>140</td><td>160</td><td>180</td><td>200</td> 
<tr>    
    
</table>

In [29]:
l1 = [[i*j for i in range(1,11)] for j in range(11,21)]
l1

[[11, 22, 33, 44, 55, 66, 77, 88, 99, 110],
 [12, 24, 36, 48, 60, 72, 84, 96, 108, 120],
 [13, 26, 39, 52, 65, 78, 91, 104, 117, 130],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160],
 [17, 34, 51, 68, 85, 102, 119, 136, 153, 170],
 [18, 36, 54, 72, 90, 108, 126, 144, 162, 180],
 [19, 38, 57, 76, 95, 114, 133, 152, 171, 190],
 [20, 40, 60, 80, 100, 120, 140, 160, 180, 200]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>23. Use list comprehension to find transpose of the matrix given below.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>3</td>
        <td>4</td>
    </tr>
    <tr>
        <td>5</td>
        <td>6</td>
    </tr>
    <tr>
        <td>7</td>
        <td>8</td>
    </tr>
    </table>

In [30]:
A = [[1,2], [3,4], [5,6], [7,8] ]
A
l = [[row[i] for row in A ] for i in range(len(A[0]))]
l

[[1, 3, 5, 7], [2, 4, 6, 8]]